* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
	color: white;
}

p {
	color: #9e9e9e;
}

strong {
	font-size: 1.2em;
}

html,
body
app {
	display: grid;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	
	width: 100%;
	height: 100%;
	background: #171717;
	background: black;
}

app {
	grid-template-areas:
		"header"
		"posthead"
		"container"
		"footer";
	grid-template-columns: 1fr;
	grid-template-rows: 5em auto 1fr 10vh;
}

block {
	display: grid;
	place-content: center;
	place-items: center;
	grid-gap: 10px;
}

block[linear] {
	grid-auto-flow: column;
}

block[start] {
	place-content: start;
	place-items: start;
	align-items: start;
}

header {
	display: grid;
	place-content: center;
	/*! place-content: center; */
	grid-gap: 30px;
	/*! box-shadow: 0 -5px 27px 0 rgb(0, 0, 0); */
	/*! border-radius: 0px 0px 50px 50px; */
	background: #292929;
	background: #292929af;
	backdrop-filter: saturate(180%) blur(20px);
	z-index: 99;
	justify-content: center;
	/*! justify-items: center; */
	grid-area: header;
}

posthead {
	display: grid;
	grid-auto-flow: column;
	place-content: space-between;
	grid-area: posthead;
	width: 100%;
	height: fit-content;
	background: #171717;
	background: #171717af;
	backdrop-filter: saturate(180%) blur(20px);
	padding: 20px;
	z-index: 9;
}



weather {
  display: grid;
  place-content: center;
  place-items: center;
  grid-auto-flow: column;
  grid-gap: 10px;
	font-size: 1.5em;
}

weather > i {
	font-size: 1.8em;
	color: #ffb300;
}


linear_scroller {
	display: flex;
	grid-gap: 30px;
	grid-auto-flow: column;
	#justify-items: center;
	#align-items: center;
	overflow: scroll;
	width: 100%;
	color: white;
	padding: 0 30px;
	padding-bottom: 20px;
	z-index: 9;
	position: relative;
	/*! background: white; */
	/*! backdrop-filter: saturate(180%) blur(20px); */
}

a[button] {
	color: #ffffffb0;
	width: fit-content;
	display: grid;
	grid-auto-flow: column;
	word-break: keep-all;
	white-space: nowrap;
	place-content: center;
	place-items: center;
	grid-gap: 10px;
	font-size: 1.1em;
	cursor: pointer;
}

a[button] > .fa {
	font-size: 1em;
}

a[button][etc] > i {
	place-self: center;
	#margin-top: -7px;
}

a[button][a] {
	color: #0071e3;
	background: transparent;
}

a[button][flat] {
border-radius: 100px;
padding:14px 25px;
min-width: 6em;
}

.fa, .fas {
  font-family: 'Font Awesome 5 Pro';
  font-weight: var(--fa-weight) !important;
  font-size: var(--fa-size) !important;
}









cards {
display: grid;
grid-template-columns: repeat(auto-fill, 50px);
grid-auto-rows: 50px;
grid-gap: 6px;
margin: 10px;
padding: 5px;
#max-width: 512px;
}


card {
/*! min-width: 75px; */
/*! min-height: 75px; */
display: grid;
align-items: center;
justify-content: center;
border-radius: 30px;
color: white;
border: 2px solid #292929;
background: #171717;
position: relative;
/*! filter: drop-shadow(10px 10px 10px #d0d0d020); */

/*! padding-top: 35px; */
overflow: hidden;
	padding: 10px;
		display: grid;
  grid-template-areas: 
    "icon value"
		". ."
    "id ."
    "device ."; 
	grid-template-columns: auto 1fr;
	grid-template-rows: auto 1fr auto auto;
}


card > .fa {
	grid-area: icon;
	position: relative;
}

card > h1 {
	grid-area: id;
	position: relative;
	font-size: 0.9em;
}

card > h2 {
	grid-area: value;
	position: relative;
	font-size: 1em;
}

card > h3 {
	grid-area: device;
	position: relative;
	font-size: 0.7em;
}


card::before {
	content: "";
	width: 15px;
	height: 15px;
	border-radius: 90px;
	background: black;
	position: absolute;
	top: 20px;
	right:15px;
	display: none;
}

card[_type*="mini"] {
	grid-column: auto / span 2;
	grid-row: auto / span 1;
	padding: 0px;
	grid-template-areas:
		"icon value";
	grid-template-columns: 35px 1fr;
	grid-template-rows: 50px;
	place-content: center;
	place-items: center;
}

card[_type*="mini"] > h2 {
  font-size: 0.8em;	
}

card[_type*="mini"] > h1,
card[_type*="mini"] > h3 {
	display: none;
}

card[_type*="mini"] > .fa {
	font-size: 1em !important;
	width: unset;
	height: unset;
	border-radius: 0;
	background: none;
	padding: 0;
}

card[_type*="normal"] {
	grid-column: auto / span 2;
	grid-row: auto / span 2;
}

card[_type*="big"] {
#width: 320px;
  grid-column: auto / span 4;
  #grid-column: 1 / span 2; maybe
#grid-row: ;
grid-row: auto / span 2;
}


card[_type*="large"] {
width: 300px;
  grid-column: auto / span 2;
  grid-row: auto / span 2;
}

card[status="on"] {
	#border: 2px solid #0071e3;
}
card[status="on"]:befores {
	background: #0071e3;
	background: linear-gradient(to bottom, #59a2fb 0%, #3976f6 100%);
}
card[status="on"] > .fa {
	background: linear-gradient(to bottom, #59a2fb 0%, #3976f6 100%);
}

card[status="off"] {
	#border: 2px solid #fa2a42;
}
card[status="off"]:befores {
	/*! background: #fa2a42; */
	background: linear-gradient(to bottom, #fb5959 0%, #f63939 100%);
}
card[status="off"] > .fa {
	background: linear-gradient(to bottom, #fb5959 0%, #f63939 100%);
	background: #ffffff2e;
}


card[status="unknown"] {
	#border: 2px solid #fdd32e;
}
card[status="unknown"]:befores {
	background: #fdd32e;
}
card[status="unknown"] > .fa {
	background: #fdd32e;
}


@keyframes error {
  from {
    background: #fa2a42;
  }

  to {
    background: #292929;
  }
}

card[status="dead"] {
	border: 2px solid #fa2a42;
}
card[status="dead"]:befores {
	background: #fdd32e;
	animation: 3s infinite alternate error;
}
card[status="dead"] > .fa {
	background: #fa2a42;
	animation: 1.5s infinite error;
}

card[_type*="normal"] > img {
position: absolute;
bottom: 15px;
right: 15px;
width: 35%;
z-index: 1;
}

card[_type*="big"] > img {
position: absolute;
bottom: 15px;
right: 15px;
width: 25%;
z-index: 1;
/*! bottom: 0; */
}

card[_type*="large"] > img {
position: absolute;
bottom: 15px;
right: 15px;
width: 60%;
}


cards>card>.fa {
        font-size: 1.3em !important;;
	font-weight: normal;
        word-break: break-word;
        z-index: 2;
	background: #ffffff42;
	padding: 15px;
	border-radius: 90px;
        width: 50px;
        height: 50px;
        place-content: center;
        display: grid;
}

cards>card>h1 {
        word-break: none;
        z-index: 2;
}

cards>card>h2 {
	      display: grid;
        word-break: none;
        z-index: 2;
}

cards>card[_type*=normal]>h2 {
	/*! width: 50px; */
	/*! height: 50px; */
	place-content: center;
}

cards>card[_type*=big]>h2 {
	      min-width: 50px;
	      min-height: 50px;
	      max-width: 120px;
	      max-height: 50px;
	      overflow: hidden;
	       /*! place-content: center; */
	     align-content: center;
        word-break: none;
        z-index: 2;
	      place-self: end;
}

cards>card>h3 {
        word-break: none;
        z-index: 2;
        color: #ffffff6b;
}

container {
  overflow: scroll;
  position: absolute;
  min-width: 100vw;
  min-height: 100vh;
  grid-area: container;
  margin-top: -32vh;
  padding-top: 32vh;
  z-index: -1;
  margin-bottom: -100px;
  padding-bottom: 100px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}






round_push {
display: grid;
grid-auto-flow: column;
grid-gap: 10px;
place-content: center;
place-items: center;
width: fit-content;
height: fit-content;
border-radius: 100px;
border: 1px solid #292929;
# background: radial-gradient(circle, #0d0d0d 0%, #0d0d0d 60%, #fff0 60%);
padding: 6px;
#background: linear-gradient(150deg, rgba(0,0,0,0) 0%, rgba(255,255,255,0.3) 100%);
}

round_push > a[button] {
	border-radius: 100px;
	min-width: 15vw;
	min-height: 15vw;
	background: #0d0d0d !important;
	#background: linear-gradient(150deg, #272727 10%, #0d0d0d 90%) !important;
}

round_push[flat] > a[button] {
	min-width: unset;
	min-height: unset;
}

round_push[flat] > h4 {
	margin-right: 10px;
}

round_holder {
display: grid;
grid-gap: 10px;
#place-content: center;
#place-items: center;
#max-width: 100px;
text-align: center;
width: fit-content;
}

round_holder[flat] {
	width: 100%;
}

round_push > * {
	margin: unset;
}

round_holder > h4 {
padding: 0;
margin: 0;
}

list_holder {
display: grid;
grid-auto-flow: row;
grid-gap: 10px;
color: white;

overflow: scroll;
#-webkit-mask-image: linear-gradient(0, rgba(0,0,0,0) 0%, rgb(0, 0, 0) 25%, rgb(0, 0, 0) 85%, rgba(0,0,0,0) 100%);
#padding: 35px 0;
max-height: 250px;
}





footer {
	display: grid;
	grid-area: footer;
	width: 100vw;
	background: #171717af;
	backdrop-filter: saturate(180%) blur(20px);
	z-index: 9;
}













