* {
	box-sizing: border-box; #
	transition-duration: 160ms; #
	transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

card, card:before {
	transition-duration: 160ms;
	transition-timing-function: cubic-bezier(0.25, 0.46, 0.45, 0.94);
}

html, body {
	display: grid;
	min-width: 100%;
	min-height: 100%;
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0;
	font-family: sans;
	
	width: 100vw;
	height: 100vh;
}

body {
	background-color: rgb(28, 28, 30);
	color: rgb(242, 242, 247);
}

header {
	width: 100%;
	height: 4.3em;
	display: grid;
	place-content: center;
	backdrop-filter: blur(20px);
	backdrop-filter: saturate(180%) blur(20px);
	position: fixed;
	z-index: 999;
	background: #1c1c1eba;
}

header>h1[title] {
	font-size: 1.6em;
}

cards {
	display: grid;
	grid-template-columns: repeat(2, 150px);
	#grid-auto-rows: 150px;
	grid-gap: 30px;
	height: 100%;
	place-content: center;
	
	grid-template-columns: repeat(auto-fill, 150px);
	grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
}

cards>card {
	position: relative;
	display: grid;
	place-content: center;
	background-color: rgb(44, 46, 46);
	filter: drop-shadow(10px 10px 25px #d0d0d012);
	border-radius: 26px;
	padding-top: 30px;
	
	min-width: 150px;
	min-height: 150px;
}

cards > h1 {
	display: grid;
	place-content: center;
	#place-self: center;
	width: fit-content;
	height: fit-content;
	padding: 0;
	margin: 0;
	
	grid-area: a;
}

cards>card  h1, cards>card  h2, cards>card  h3, cards>card  a, cards>card  layer
	{
	pointer-events: none;
	user-select: none;
}

layer>* {
	pointer-events: all;
}

card[big] {
	grid-column: 1/3;
	#grid-row: 1/2;
	background-color: rgb(0, 122, 255);
	background-color: rgb(44, 44, 46);
	#color: rgb(44, 46, 46);
	grid-template-columns: repeat(2, 120px);
	grid-auto-rows: 50px;
	grid-gap: 30px;
}

card[big][status]:before {
	content: "";
	width: 30px;
	height: 30px;
	position: absolute;
	top: 18px;
	right: 18px;
	background-color: transparent; #
	border-radius: 8px;
}

card[big][status]::before {
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 0;
	background-color: transparent;
	border-radius: 26px;
	border-top-right-radius: 26px;
	border-bottom-right-radius: 26px;
	z-index: -1;
}

card[big][status="on"]:before { #
	background-color: #4cd964;
	filter: drop-shadow(10px 10px 25px #4cd96480);
	filter: drop-shadow(10px 10px 25px #53f4b18a);
	background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #4cd964 100%);
	background: linear-gradient(154deg, rgba(0, 0, 0, 0) 32%, #4cd964 100%);
	background: linear-gradient(155deg, transparent 30%, #4cd964 70%, #56ffcf 100% );
}

card[big][status="off"]:before { #
	background-color: #ff3b30;
	filter: drop-shadow(10px 10px 25px #ff3b3080);
	background: linear-gradient(90deg, rgba(0, 0, 0, 0) 0%, #ff3b30 100%);
	background: linear-gradient(154deg, rgba(0, 0, 0, 0) 32%, #ff3b30 100%);
}

cards>card>h1 {
	font-size: 1.1em;
	position: absolute;
	top: 15px;
	left: 15px;
}

cards>card[normal][status="on"] {
	color: rgb(44, 46, 46);
	background-color: #4cd964;
	filter: drop-shadow(10px 10px 25px #4cd96480);
}

cards>card[normal][status="off"] {
	color: black;
	background-color: #ff3b30;
	filter: drop-shadow(10px 10px 25px #ff3b3080);
}

board {
	padding-top: 8.3em;
	padding-bottom: 8.3em;
	display: grid;
	grid-gap: 50px;
	place-content: center;
	align-content: center;
	#overflow: scroll;
	align-content: baseline;
	#width: 100vw;
	#height: 100vh;
}

section {
	#display: grid;
	width: 90vw;
	#place-content: center;
}

section[locked] {
	filter: blur(5px) saturate(0.1) brightness(0.7);
	user-select: none;
	pointer-events: none;
}

section>h1 {
	display: grid;
	place-content: center;
	width: fit-content;
	height: fit-content;
	padding: 0;
	margin: 0;
}

input[type="time"] {
	background: transparent;
	border: 1px solid #a7a7a7;
	padding: 0;
	margin: 0;
	border-radius: 5px;
	color: white;
	font-size: 1.3em;
}

layer {
	font-size: 1.3em;
	display: grid;
}

handler {
	display: grid;
	place-content: center;
	position: fixed;
	bottom: 50px;
	left: 0;
	right: 0;
	width: 100%;
	color: #ff3b30;
}




/* :root {
    --aaa: env(safe-area-inset-right);
    --top: 66px;
    --right: 10px;
    --bottom: 56px;
    --left: 10px;

    --font-size-ok: 0.75em;
    --font-size-mid: 1.1em;
    --fa-font-size: 1.25em;
    
    --accent: #19191a;
    --accent: #2c2d2e;
    --accent: #ffffff;

    --header-background: #2c2d2ebd;
    --header-color: #ffffff;
    --header-border: #ffffff36;
    --header-backdrop-filter: saturate(180%) blur(20px);

    --navigator-background: #2c2d2ebd;
    --navigator-active: #ffffff;
    --navigator-inactive: #76787a;
    --navigator-border: #ffffff36;
    --navigator-backdrop-filter: saturate(180%) blur(20px);

    --destructive: #ff5c5c;
    --dynamic_blue: #3f8ae0;
    --dynamic_gray: #a3adb8;
    --dynamic_green: #4bb34b;
    --dynamic_orange: #ffa000;
    --dynamic_purple: #937ff5;
    --dynamic_red: #ff3347;
    --dynamic_violet: #a393f5;
}



:root {
    --blue: #007bff;
    --indigo: #6610f2;
    --purple: #6f42c1;
    --pink: #e83e8c;
    --red: #dc3545;
    --orange: #fd7e14;
    --yellow: #ffc107;
    --green: #28a745;
    --teal: #20c997;
    --cyan: #17a2b8;
    --white: #fff;
    --gray: #6c757d;
    --gray-dark: #343a40;
    --primary: #007bff;
    --secondary: #6c757d;
    --success: #28a745;
    --info: #17a2b8;
    --warning: #ffc107;
    --danger: #dc3545;
    --light: #f8f9fa;
    --dark: #343a40;
    --breakpoint-xs: 0;
    --breakpoint-sm: 576px;
    --breakpoint-md: 768px;
    --breakpoint-lg: 992px;
    --breakpoint-xl: 1200px;
    --font-family-sans-serif: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    --font-family-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
} */

*[theme=light] {
    --label: rgba(0.0, 0.0, 0.0, 1.0);
    --secondaryLabel: rgba(60.0, 60.0, 67.0, 0.6);
    --tertiaryLabel: rgba(60.0, 60.0, 67.0, 0.3);
    --quaternaryLabel: rgba(60.0, 60.0, 67.0, 0.18);
    --systemFill: rgba(120.0, 120.0, 128.0, 0.2);
    --secondarySystemFill: rgba(120.0, 120.0, 128.0, 0.16);
    --tertiarySystemFill: rgba(118.0, 118.0, 128.0, 0.12);
    --quaternarySystemFill: rgba(116.0, 116.0, 128.0, 0.08);
    --placeholderText: rgba(60.0, 60.0, 67.0, 0.3);
    --systemBackground: rgba(255.0, 255.0, 255.0, 1.0);
    --secondarySystemBackground: rgba(242.0, 242.0, 247.0, 1.0);
    --tertiarySystemBackground: rgba(255.0, 255.0, 255.0, 1.0);
    --systemGroupedBackground: rgba(242.0, 242.0, 247.0, 1.0);
    --secondarySystemGroupedBackground: rgba(255.0, 255.0, 255.0, 1.0);
    --tertiarySystemGroupedBackground: rgba(242.0, 242.0, 247.0, 1.0);
    --separator: rgba(60.0, 60.0, 67.0, 0.29);
    --opaqueSeparator: rgba(198.0, 198.0, 200.0, 1.0);
    --link: rgba(0.0, 122.0, 255.0, 1.0);
    --darkText: rgba(0.0, 0.0, 0.0, 1.0);
    --lightText: rgba(255.0, 255.0, 255.0, 0.6);
    --systemBlue: rgba(0.0, 122.0, 255.0, 1.0);
    --systemGreen: rgba(52.0, 199.0, 89.0, 1.0);
    --systemIndigo: rgba(88.0, 86.0, 214.0, 1.0);
    --systemOrange: rgba(255.0, 149.0, 0.0, 1.0);
    --systemPink: rgba(255.0, 45.0, 85.0, 1.0);
    --systemPurple: rgba(175.0, 82.0, 222.0, 1.0);
    --systemRed: rgba(255.0, 59.0, 48.0, 1.0);
    --systemTeal: rgba(90.0, 200.0, 250.0, 1.0);
    --systemYellow: rgba(255.0, 204.0, 0.0, 1.0);
    --systemGray: rgba(142.0, 142.0, 147.0, 1.0);
    --systemGray2: rgba(174.0, 174.0, 178.0, 1.0);
    --systemGray3: rgba(199.0, 199.0, 204.0, 1.0);
    --systemGray4: rgba(209.0, 209.0, 214.0, 1.0);
    --systemGray5: rgba(229.0, 229.0, 234.0, 1.0);
}


*[theme="dark"] {
    --label: rgba(255.0, 255.0, 255.0, 1.0);
    --secondaryLabel: rgba(235.0, 235.0, 245.0, 0.6);
    --tertiaryLabel: rgba(235.0, 235.0, 245.0, 0.3);
    --quaternaryLabel: rgba(235.0, 235.0, 245.0, 0.18);
    --systemFill: rgba(120.0, 120.0, 128.0, 0.36);
    --secondarySystemFill: rgba(120.0, 120.0, 128.0, 0.32);
    --tertiarySystemFill: rgba(118.0, 118.0, 128.0, 0.24);
    --quaternarySystemFill: rgba(118.0, 118.0, 128.0, 0.18);
    --placeholderText: rgba(235.0, 235.0, 245.0, 0.3);
    --systemBackground: rgba(0.0, 0.0, 0.0, 1.0);
    --secondarySystemBackground: rgba(28.0, 28.0, 30.0, 1.0);
    --tertiarySystemBackground: rgba(44.0, 44.0, 46.0, 1.0);
    --systemGroupedBackground: rgba(0.0, 0.0, 0.0, 1.0);
    --secondarySystemGroupedBackground: rgba(28.0, 28.0, 30.0, 1.0);
    --tertiarySystemGroupedBackground: rgba(44.0, 44.0, 46.0, 1.0);
    --separator: rgba(84.0, 84.0, 88.0, 0.6);
    --opaqueSeparator: rgba(56.0, 56.0, 58.0, 1.0);
    --link: rgba(9.0, 132.0, 255.0, 1.0);
    --darkText: rgba(0.0, 0.0, 0.0, 1.0);
    --lightText: rgba(255.0, 255.0, 255.0, 0.6);
    --systemBlue: rgba(10.0, 132.0, 255.0, 1.0);
    --systemGreen: rgba(48.0, 209.0, 88.0, 1.0);
    --systemIndigo: rgba(94.0, 92.0, 230.0, 1.0);
    --systemOrange: rgba(255.0, 159.0, 10.0, 1.0);
    --systemPink: rgba(255.0, 55.0, 95.0, 1.0);
    --systemPurple: rgba(191.0, 90.0, 242.0, 1.0);
    --systemRed: rgba(255.0, 69.0, 58.0, 1.0);
    --systemTeal: rgba(100.0, 210.0, 255.0, 1.0);
    --systemYellow: rgba(255.0, 214.0, 10.0, 1.0);
    --systemGray: rgba(142.0, 142.0, 147.0, 1.0);
    --systemGray2: rgba(99.0, 99.0, 102.0, 1.0);
    --systemGray3: rgba(72.0, 72.0, 74.0, 1.0);
    --systemGray4: rgba(58.0, 58.0, 60.0, 1.0);
    --systemGray5: rgba(44.0, 44.0, 46.0, 1.0);
}